<div *ngIf="product.title" class="card">

    <img *ngIf="product.imageUrl" 
    [src]="product.imageUrl" class="card-img-top img-fluid" 
    alt="{{ product.title }}">

    <div class="card-body">
        <h5 class="card-title" style="font-size:x-large;"> {{ product.title }}</h5>
        <p class="card-text"> {{ product.price | currency:'BRL'}}</p>
    </div>
    
    <div class="card-footer" *ngIf="showActions && shoppingCart">
        <div class="d-grid">
            <button 
            *ngIf="shoppingCart.getQuantity(product)  == 0; else updateQuantity"
            (click)="addToCart()"
            class="btn btn-secondary">  Adicionar ao Carrinho </button>
        <ng-template #updateQuantity>
          <app-product-quantity [product]="product" [shopping-cart]="shoppingCart"> </app-product-quantity>
        </ng-template>
        </div>
    </div>
</div>