<p> 
    <a routerLink="/admin/products/new" class="btn btn-primary"> Novo Produto </a>
</p>
<p>
    <input 
        #query
        (keyup)="filter(query.value)" 
        type="text" placeholder="pesquisar..." class="form-control">
</p>
<table class="table">
    <thead>
        <tr>
            <th>Título</th>
            <th>Preço</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of filteredProducts">
            <td> {{ p.title }}</td>
            <td> {{ p.price }}</td>            
            <td> <a [routerLink]="['./', p.id]">Editar</a> </td>
        </tr>
    </tbody>
</table>