<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand m-3" routerLink="/">
            <mat-icon aria-hidden="false" aria-label="Home" fontIcon="home"> </mat-icon> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/shopping-cart">
                        <mat-icon aria-hidden="false" aria-label="Cart" fontIcon="shopping-cart">
                        </mat-icon>                        
                    </a>                   
                </li>
                <li class="nav-item" style="vertical-align: baseline;">
                    <span class="badge rounded-pill bg-warning text-dark" *ngIf="cart$ | async as cart">
                        {{ cart.totalItemsCount }}
                    </span>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                <li class="nav-item" *ngIf="!authService.isLoggedIn">
                    <a class="nav-link" routerLink="/login"> Login </a>
                </li>

                <li ngbDropdown class="nav-item" *ngIf="authService.userData as user">
                    <a *ngIf="authService.isLoggedIn" ngbDropdownToggle class="btn dropdown-toggle" role="button"
                        id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ usuario.displayName }}
                    </a>


                    <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" routerLink="/my/orders">Meus Pedidos </a>


                        <a *ngIf="usuario.isAdmin" class="dropdown-item" routerLink="/admin/orders">Gerenciar
                            Pedidos</a>
                        <a *ngIf="usuario.isAdmin" class="dropdown-item" routerLink="/admin/products">Gerenciar
                            Produtos</a>

                        <a class="dropdown-item" (click)="authService.SignOut()">Sair</a>
                    </div>
                </li>
                <!-- <button class="btn btn-secondary" (click)="teste()"> botão de testes </button>        -->
            </ul>
        </div>
    </div>
</nav>